<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.testcontainers" level="INFO" />
    <logger name="com.github.dockerjava" level="WARN" />
    <logger name="org.jooq" level="INFO" />
    <logger name="net.bytebuddy" level="INFO" />

    <logger name="org.blinkapp" level="DEBUG" />
    <logger name="org.blink_app" level="DEBUG" />
</configuration>